<html>
  <head>
    <style type="text/css">
      body {
        background: pink;
        color: white;
      }
      div.container {
        max-width: 500px;
        margin: 100px auto;
        border: 20px solid white;
        padding: 10px;
        text-align: center;
      }
      h4 {
        text-transform: uppercase;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h4>Gif do gato do día</h4>
      <img src="{{url}}" />
      <p><small>Courtesy:<a href="https://www.buzzfeed.com/summeranne/if-all-of-your-ex-boyfriends-were-cats-these-are-the-cats-th">Buzzfeed</a></small></p>
    </div>
  </body>
</html>
